<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>sen4lst-processing</symbolicName>
    <version>1.0</version>
    <name>BEAM Sen4LST Processing</name>

    <description>
        <![CDATA[

                ]]>
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
        ]]>
    </changelog>

    <!-- BEAM Basics -->

    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>
    <dependency>
        <module>beam-netcdf</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <!-- Other Operators -->

    <categories>Processor,MERIS</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>sen4lstColourProcessing</id>
            <class>org.esa.beam.visat.actions.DefaultOperatorAction</class>
            <operatorName>Sen4LST.Processor</operatorName>
            <text>Sen4LST Processor...</text>
            <dialogTitle>Sen4LST Processor</dialogTitle>
            <targetProductNameSuffix>_lst</targetProductNameSuffix>
            <shortDescr></shortDescr>
            <longDescr></longDescr>
            <mnemonic/>
            <parent>tools</parent>
            <helpID></helpID>
        </action>
    </extension>

    <!--<extension point="beam-ui:helpSets">-->
    <!--<helpSet>-->
    <!--<parent>beam-help</parent>-->
    <!--<path>doc/help/meris-glint.hs</path>-->
    <!--</helpSet>-->
    <!--</extension>-->

</module>
