<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>sen4lst-processing</symbolicName>
    <version>1.0</version>
    <name>BEAM Sen4LST Processing</name>

    <description>
        <![CDATA[

                ]]>
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
                ]]>
    </changelog>

    <dependency>
        <module>sen4lst-synergy</module>
    </dependency>

    <!-- BEAM Basics -->

    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>

    <!-- Other Operators -->

    <categories>Processor,MERIS</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>sen4lst</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Sen4LST Land Surface Temperature Retrieval...</text>
            <shortDescr>
                Sen4LST Land Surface Temperature Retrieval.
            </shortDescr>
            <mnemonic/>
            <parent>tools</parent>
            <helpID></helpID>
            <placeAfter/>
        </action>
        <action>
            <id>synergyprocessing</id>
            <class>org.esa.beam.sen4lst.synergy.ui.SynergyAction</class>
            <operatorName>Sen4LST.Sdr</operatorName>
            <text>SDR Synergy Processor...</text>
            <dialogTitle>Sen4LST SDR Synergy Processor</dialogTitle>
            <targetProductNameSuffix>_syn</targetProductNameSuffix>
            <shortDescr></shortDescr>
            <longDescr></longDescr>
            <mnemonic/>
            <parent>sen4lst</parent>
            <helpID>synergyprocessing</helpID>
        </action>
        <action>
            <id>lstprocessing</id>
            <class>org.esa.beam.sen4lst.processing.ui.LstProcessingAction</class>
            <operatorName>Sen4LST.Lst</operatorName>
            <text>LST Processor...</text>
            <dialogTitle>Sen4LST LST Processor</dialogTitle>
            <targetProductNameSuffix>_lst</targetProductNameSuffix>
            <shortDescr></shortDescr>
            <longDescr></longDescr>
            <mnemonic/>
            <parent>sen4lst</parent>
            <helpID>lstprocessing</helpID>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/synergyprocessing.hs</path>
        </helpSet>
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/lstprocessing.hs</path>
        </helpSet>
    </extension>

</module>
